services:

  web:
    depends_on:
      - products
      - users
    image: nginx:1.29.3
    ports:
      - 8080:80
    restart: unless-stopped
    volumes:
      - ./web/public:/usr/share/nginx/html
      - ./web/nginx.conf:/etc/nginx/conf.d/default.conf

  users:
    build: ./users
    environment:
      DB_HOST: db
    ports:
      - "8081:8081"
    depends_on:
      - db

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: rootpwd
      MARIADB_DATABASE: app
      MARIADB_USER: user
      MARIADB_PASSWORD: pwd
    volumes:
      - ./db/data/:/var/lib/mysql/
      - ./db/scripts/:/docker-entrypoint-initdb.d/
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8082:8080
    depends_on:
      - db

  products:
    build: ./products
    restart: always
    ports:
      - "8083:8083"
    environment:
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DB: "app"
      MONGO_COLLECTION: "products"
      PORT: "8083"

  mongo:
    image: mongo:8.2.1
    restart: always
    volumes:
      - ./mongo/data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: app
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8085:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
