services:

  web:
    depends_on:
      - products
      - users
    image: nginx:1.29.3
    ports:
      - 8080:80
    restart: unless-stopped
    volumes:
      - ./web/public:/usr/share/nginx/html
      - ./web/nginx.conf:/etc/nginx/conf.d/default.conf

  users:
    build: ./users
    environment:
      DB_HOST: db
    ports:
      - "8081:8081"
    depends_on:
      - db

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: rootpwd
      MARIADB_DATABASE: app
      MARIADB_USER: user
      MARIADB_PASSWORD: pwd
    volumes:
      - ./db/data/:/var/lib/mysql/
      - ./db/scripts/:/docker-entrypoint-initdb.d/
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8082:8080
    depends_on:
      - db

  products:
    build: ./products
    restart: always
    ports:
      - "8083:8083"
